/* Elements */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  --navy: #14335d;
  --aqua: #73eaef;
  --dark-primary: #212121;
  --dark-secondary: #424242;
  --light-primary: #e3e3e3;
  --light-secondary: #b4b4b4;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--dark-primary);
  color: var(--light-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

a {
  color: var(--aqua);
}

h2 {
  flex-grow: 1;
  margin-left: 0.5em;
}

label {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  color: var(--light-secondary);
  border-radius: 1em;
  margin-right: 1em;
  width: 5rem;
  background-color: var(--dark-secondary);
}

input,
textarea {
  width: 100%;
  border: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: var(--dark-secondary);
  color: var(--light-primary);
  font-family: system-ui, sans-serif;
  outline: none;
}

textarea {
  resize: none;
  height: 5em;
  flex-shrink: 0;
}

button {
  padding: 1em;
  border: none;
  border-radius: 1em;
  background-color: var(--aqua);
  color: var(--dark-primary);
  cursor: pointer;
  padding: 0.5em 1em;
  min-width: 6rem;
}

/* Classes */

.hidden {
  display: none;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: stretch;
}

.button-group {
  display: flex;
  justify-content: end;
  margin-bottom: 1em;
  gap: 0.5em;
}

div.user-message {
  background-color: var(--dark-primary);
  padding: 0.1em 0.5em;
  border-radius: 0.1em;
  display: flex;
  justify-content: space-between;
}

div.system-message {
  padding: 0.1em 0.5em;
  display: flex;
  justify-content: space-between;
}

div.message-text {
  margin-right: 0.1em;
}

div.message-ts {
  flex-shrink: 0;
}

/* IDs */

#chatPanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  word-break: break-all;
}

#chatHistory {
  border: none;
  background-color: var(--dark-secondary);
  border-radius: 1em;
  padding: 1em 0;
  margin-bottom: 1em;
  overflow-y: auto;
  flex-grow: 1;
}

#settingsToggle {
  cursor: pointer;
  font-size: 4em;
  align-self: baseline;
  color: var(--aqua);
  /* Manually centre this toggle */
  margin: 0 0.2em 0.1em;
}

#titlePanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Toggle */

.toggle {
  appearance: none;
  box-sizing: content-box;
  margin: 0.5em;
  width: 3em;
  height: 1.5em;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: background-color ease 0.1s;
}

.toggle:before {
  content: "";
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border-radius: 1.5em;
  transition: transform ease-in-out 0.1s;
}

.toggle:checked {
  background-color: var(--aqua);
}

.toggle:checked:before {
  transform: translateX(1.5em);
}
